<ion-content>
<div id = "content">

      <div id = "titleContent">
        Inscription
      </div>

      
      <ion-item>
        <ion-label position="floating" color="secondary">Identifiant</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="secondary">Mot de passe</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="secondary">Confirmation du mot de passe</ion-label>
        <ion-input [(ngModel)]="passconf" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="secondary">Compte prestataire</ion-label>
        <ion-toggle slot="end"  [(ngModel)]="account_type"></ion-toggle>
      </ion-item>


      <div class = "footer">
        <ion-button expand="full" color="secondary" (click)="inscription()">Valider</ion-button>
      </div>

    </div>


</ion-content>
