<ion-content color="tertiary">

<div id ="photo_profil">
</div>

<ion-grid>
<ion-scroll style="width:100%;height:100vh" scrollX="true">
<ion-row scroll="true">
  <ion-col col-33 >
 <div class="card card-1" >
   <img src="{{post.product_final_categories_icon}}">
    <p style="font-size: 9px;">tg</p>
   </div>
   </ion-col>

   <ion-col col-33 >
 <div class="card card-1" >
   <img src="{{post.product_final_categories_icon}}">
    <p style="font-size: 9px;">tg</p>
   </div>
   </ion-col>


</ion-row>
</ion-scroll>
</ion-grid>



</ion-content>
