<ion-content>
	<div class = "wrapper">

	</div>
	<div class = "footer">
		<ion-item>
	        <ion-label position="floating" color="secondary">Identifiant</ion-label>
	        <ion-input [(ngModel)]="username"></ion-input>
	    </ion-item>
	    <ion-item>
	        <ion-label position="floating" color="secondary">Mot de passe</ion-label>
	        <ion-input [(ngModel)]="password" type="password"></ion-input>
	    </ion-item>
			<ion-button expand="full" color = "secondary" (click) = "connect()">Se connecter</ion-button>
		</div>
</ion-content>


